
.soccer-team{

    margin: 7px;
    border: 2px solid purple;
    text-align: center;
    padding: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    float: left;
    box-shadow: 10px 10px 10px goldenrod;
    background-color: rgba(180, 241, 80, 0.705);
}
.soccer-team img{
    height: 100px;
}

    