.teamDetail-background {
    background-image: url("../images/football.jpg");
    background-color: #cccccc;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .team-logo {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .team-logo img{
      height: 200px;

  }
  .condition-image{
    background-image: url("../images/male.png");
    background-color: #3ebda8;
    height: 200px;
    background-position:right;
    background-repeat: no-repeat;
    background-size:200px;
    position: relative;
    border-radius: 20px;
  }
  .team-detail{
      font-weight: 900;
      padding: 40px;
  }
  .social-icon{

    text-align: center;
  }